<div class="container">

    <!-- <h1 class="text-center">Register with bootstrap popup</h1> -->
  
  
    <div class="col-sm-12">
       <div class="lg-tt-rr">
          <!-- <p>You can consume </p> -->
          <h3 class="day">You can consume <span>4236 </span> Calories</h3>
       </div>
    </div>
  
    <div class="lg-tt-rr" style="text-align:center;"><br><br><br><br><br>
       <h3 class="day ng-binding"><span class="ng-binding">0</span> You consumed calories food</h3>
       <!-- <p>calories food</p> -->
    </div>
  
    <button type="button" class="btn btn-info btn-fill pull-right" (click)="show()">Log Weight</button>
  
  
    <div class="tab-content" id="myTabContent">
       <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
       <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
       <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
    <!-- Creates the bootstrap modal where the image will appear -->
    <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Log Weight</h4>
             </div>
             <div class="modal-body">
                  <form #registerForm="ngForm" (ngSubmit)="updateWeight(registerForm)" autocomplete="off" id="registerForm"  role="form" name="registerForm" novalidate>  
  
                   <div class="row">
                      <div class="col-sm-6">
                         <div class="form-group">
                            <label>Date</label>
                            <input id="trackedDate" type="text" name="trackedDate" class="form-control" [(ngModel)]="weightForm.trackedDate" #trackedDate="ngModel" placeholder="trackedDate ">
  
                          
                         </div>
                      </div>
                    
                      <div class="col-sm-6">
                         <div class="form-group">
                            <label>Weight </label>
                            <input id="weight" type="number" name="weight" class="form-control" [(ngModel)]="weightForm.weight" #weight="ngModel" placeholder="Total weight">
                         </div>
                      </div>
                    
                   </div>
                   <button type="submit" class="btn btn-info btn-fill ">Save</button>
                   <button type="button" class="btn btn-info btn-primary " data-dismiss="modal" (click)="hide()">Cancel</button>
  
                </form>
  
  
             </div>
         
          </div>
       </div>
    </div>
  
    <!-- Chart + Entries table -->
    <div class="row">
       <div class="col-8">
       <h3 class="day ng-binding">
          Activity Tracker
       </h3>
       <div echarts [options]="chartOption" class="demo-chart"></div>
       </div>
       <div class="col-4" style="height: 200px;">
       <h3 class="day ng-binding">
        Weight Entries
       </h3>
       <table class="table table-striped" style="overflow-x: auto;">
          <thead>
          <tr>
             <th scope="col" >Tracked date</th>
             <th scope="col" >Weight</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reading of readings">
             <td>{{reading.trackedDate | date}}</td>
             <td>{{reading.weight}}</td>
          </tr>
          </tbody>
       </table>
       </div>
    </div>
  
  </div>