<div class="container">

    <!-- <h1 class="text-center">Register with bootstrap popup</h1> -->
  
    <div class="col-sm-12 pull-left">
      <div class="lg-tt-rr">
        <p>Recommended</p>
        <h3 class="day"><span>4236</span> calories Intake</h3>
      </div>
    </div>
    
    <div class="lg-tt-rr" style="text-align:center;">
      <h3 class="day ng-binding">
        <span class="ng-binding">0</span> Calories
      </h3>
      <p>Recently logged food intake</p>
    </div>
  
    <button type="button" class="btn btn-info btn-fill pull-right" (click)="show()">Log Food</button>
  
    
  
  
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
    <!-- Creates the bootstrap modal where the image will appear -->
    <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Log Food</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Select Date</label>
                    <input type="text" formControlName="firstname" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                    <!-- <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                          <div *ngIf="f.firstname.errors.required">FirstName is required</div>
                                    </div> -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Select Time</label>
  
                    <input type="text" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                 </div> -->
                  </div>
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Intake</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Select </option>
                      <option>1 Glass(250)ml</option>
                      <option>1/2 Bottle(500)ml</option>
                      <option>Bottle(1000#0ml</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill">Save</button>
              <button type="button" class="btn btn-info btn-primary" data-dismiss="modal" (click)="hide()">Cancel</button>
  
            </form>
  
  
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Close</button>
        
        </div> -->
        </div>
      </div>
    </div>
  
    <!-- Chart + Entries table -->
    <!-- <div class="row">
      <div class="col-8">
        <h3 class="day ng-binding">
          Hydration Tracker
        </h3>
        <div echarts [options]="chartOption" class="demo-chart"></div>
      </div>
      <div class="col-4" style="height: 200px;">
        <h3 class="day ng-binding">
          Water Intake Entries
        </h3>
        <table class="table table-striped" style="overflow-x: auto;">
          <thead>
          <tr>
            <th scope="col" >Tracked date</th>
            <th scope="col" >Water intake (in ml)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reading of readings">
            <td>{{reading.trackedDate | date}}</td>
            <td>{{reading.waterIntake}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    
  </div>