<div class="container">
    
    <!-- <h1 class="text-center">Register with bootstrap popup</h1> -->
    
  
    <div class="lg-tt-rr">
      <p>Recommended</p>
      <h3 class="day"><span>8:00</span> hrs</h3>
    </div>
    <div class="lg-tt-rr"  style="text-align:center;">
      <h3 class="day"><span class="ng-binding">0</span> hrs &nbsp;<span class="ng-binding">0</span> min</h3>
      <p>Recently logged sleep data</p>
    </div>
   
    <button type="button" class="btn btn-info btn-fill pull-right" (click) = "show()">Log Sleep</button> 


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Log Sleep</h4>
      </div>
      <div class="modal-body">
        <form #registerForm="ngForm" (ngSubmit)="updateSleep(registerForm)" autocomplete="off" id="registerForm"  role="form" name="registerForm" novalidate>  
          <div class="row">
                       
                         <div class="col-sm-6">
                            <div class="form-group">
                               <label>Sleep Start Time</label>
                    
                               <input id="sleepStartTime" type="text" name="sleepStartTime" class="form-control" [(ngModel)]="user.sleepStartTime" #sleepStartTime="ngModel" placeholder="sleepStartTime ">
                            
                            </div>
                         </div>
                         <div class="col-sm-6">
                               <div class="form-group">
                                  <label>Sleep End Time</label>
                                  <input id="sleepEndTime" type="text" name="sleepEndTime" class="form-control" [(ngModel)]="user.sleepEndTime" #sleepEndTime="ngModel" placeholder="sleepEndTime ">
                                
                               </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                 <label>Tracked Date</label>
                                 <input id="trackedDate" type="text" name="trackedDate" class="form-control" [(ngModel)]="user.trackedDate" #trackedDate="ngModel" placeholder="trackedDate ">
      
                               
                              </div>
                           </div>
                        
             </div>
             <button type="submit" class="btn btn-info btn-fill ">Save</button>
             <button type="button" class="btn btn-info btn-primary " data-dismiss="modal" (click) = "hide()">Cancel</button>

                </form>
     
    
  </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Close</button>
      
      </div> -->
    </div>
  </div>
  </div>