<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Health Tips</h4>
                        <p class="category">Follow these tips to live a healthy life!</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let tip of healthTips">
                                        <td></td>
                                        <td>{{tip}}</td>
                                        <td class="td-actions text-right"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">My Calories Status</h4>
                        <p class="category">Calories intake vs Calories burned</p>
                    </div>
                    <div class="content">
                        <div echarts [options]="myCaloriesChart" theme="macarons" class="demo-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <span *ngFor="let item of legendItems">
                                    <i [ngClass]="item.imageClass"></i> {{ item.title }}
                                </span>
                            </div>
                            <hr *ngIf="withHr">
                            <div class="stats">
                                <i [ngClass]="footerIconClass"></i> {{ footerText }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Calories burnt</h4>
                        <p class="category">Target calories to burn is {{dashboardData.targetCalToBurnt}}</p>
                    </div>
                    <div class="content">
                        <!-- <div [attr.id]="chartId" class="ct-chart {{ chartClass }}"></div> -->
                        <div echarts [options]="caloriesBurntChart" class="demo-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <span *ngFor="let item of legendItems">
                                    <i [ngClass]="item.imageClass"></i> {{ item.title }}
                                </span>
                            </div>
                            <hr *ngIf="withHr">
                            <div class="stats">
                                <i [ngClass]="footerIconClass"></i> {{ footerText }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Calories consumed</h4>
                        <p class="category">Target calories to consume is {{dashboardData.targetCalToConsume}}</p>
                    </div>
                    <div class="content">
                        <div echarts [options]="caloriesConsumedChart" theme="macarons" class="demo-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <span *ngFor="let item of legendItems">
                                    <i [ngClass]="item.imageClass"></i> {{ item.title }}
                                </span>
                            </div>
                            <hr *ngIf="withHr">
                            <div class="stats">
                                <i [ngClass]="footerIconClass"></i> {{ footerText }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>